@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

:root {
    --base-color: #000044;
    --base-color-2: #EDDDD4;
    --base-color-3: #ffffff;
    --container-2-color: #c7f9cc;
    --important-element-color: #F04419;
    --header-color: #3E54AC;
    --header-size: 98px;
    --pt-green: #009900;
    --pt-fr-red: #EE2436;
    --fr-blue: #001E96;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::marker {
    content: "»   ";
    display: inline-block;
    color: var(--important-element-color);
}

li {
    margin-bottom: 8px;
}


body {
    background-color: var(--base-color-3);
    color: var(--base-color);
    font-family: 'Wix Madefor Display', sans-serif;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.position-relative {
    position: relative;
}


.header-container {
    width: 100%;
    height: var(--header-size);
    background-color: var(--header-color);
    color: var(--base-color-3);
    position: fixed;
    top: 0;
    font-size: 2rem;
    z-index: 10;
}

.header-context {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    margin: calc((var(--header-size) / 4) + 1px) auto;
}


.tel {
    color: var(--base-color-3);
}


.hero-container {
    margin-top: var(--header-size);
    height: calc(100vh - var(--header-size));

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    position: relative;
    display: block;
    width: 60vw;
    font-size: 5rem;
    padding-left: 10vw;
    cursor: default;
}

.hero-title:hover .pt-green {
    color: var(--pt-green);
}

.hero-title:hover .pt-fr-red {
    color: var(--pt-fr-red);
}

.hero-title:hover .fr-blue {
    color: var(--fr-blue);
}

.hero-image {
    padding-right: 2rem;
}

.hero-title > span {
    position: relative;
    display: block;
}

.hero-title > span:nth-child(2) {
    padding-left: 5rem;
}

.text-orange {
    color: var(--important-element-color);
}

.planning-container {
    min-height: calc(100vh - (var(--header-size) * 1.85));
    height: 100%;
    background-color: var(--container-2-color);
}

.planning-context {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.timeline-context {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
}

.planning-image {
    position: relative;
    display: block;
    width: 40vw;
}

.planning-image img {
    width: 60%;
    height: 60%;
    display: block;
    margin-left: 30vh;
}

.planning-title {
    text-align: center;
    font-size: 3rem;
    padding: 3rem 0 1.5rem;
}

.timeline-item {
    padding: 12px 32px;
    margin: .2rem auto;
    width: 60%;
    border-radius: 4px;
}

.timeline-title {
    font-size: 1.7rem;
    margin-bottom: 8px;
}

.timeline-title span {
    color: var(--important-element-color);
    font-weight: 800;
    margin-right: 1rem;
}

.timeline-item > div {
    margin-left: 64px;
    font-size: 1.2rem;
}

.meal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
    margin-top: -16px;
}

.footer-context {
    background-color: var(--header-color);
    color: var(--base-color-3);
    padding: 16px 0;
    font-size: 1.3rem;
    text-align: center;
}

table {
    border-collapse: collapse
}

td {
    border: 1px solid black;
    padding: 10px;
}